.modal {
    background-color: rgba(0, 0, 0, 0.3);
    div[class="modal-dialog"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: fit-content;
        div[class="modal-content"] {
            border-radius: 15px;
            background-color: aqua;
            width: fit-content;

            // .modal-header {
            //     background-color: red;
            // }
        }
    }
    .cardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        // background-color: red;
        width: 100%;

        .error {
            font-size: 13px;
            padding: 8px;
            color: var(--danger500);
            width: 100%;
        }

        .find {
            margin-top: 19px;
            & .find_btn {
                background-color: var(--primary300);
                padding: 8px 25px;
                color: var(--neutral0);
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    background-color: var(--primary500);
                }
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            // border-top: 1px solid var(--neutral200);
            // padding-top: 20px;
            margin-top: 50px;
            width: 100%;
            button {
                background-color: var(--neutral0);
                padding: 5px 20px;
                width: 30%;
                border-radius: 10px;
                border: none;
                font-size: 15px;

                &.ok {
                    background-color: var(--primary500);
                    color: var(--neutral0);
                    &:hover {
                        background-color: var(--primary300);
                    }
                }
                &.cancel {
                    background-color: var(--danger500);
                    color: var(--neutral0);
                    transition: all 0.3s;
                    &:hover {
                        background-color: var(--danger200);
                    }
                }
            }
        }
    }
}
